<ion-header translucent>
    <ion-toolbar>
        <ion-title>AWS SAA</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Question</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{question.question}}

            <ion-list>
                <ion-list-header>choices</ion-list-header>
                <ion-item *ngFor="let choice of question.choices">
                    <ion-label text-wrap>{{choice.choice}}</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-card-content>

        <section class="full-width">
            <header>Full Width</header>
            <ion-button expand="full" color="secondary">A full-width button</ion-button>
        </section>

    </ion-card>


</ion-content>
